[workspace]
members = [
    "crates/world",
    "crates/worldtool",
    "crates/cube",
    "crates/assets",
    "crates/physics",
    "crates/renderer",
    "crates/server",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = true
