[package]
name = "app"
version = "0.1.0"
edition = "2021"

[lib]
name = "app"
path = "src/lib.rs"

[features]
default = ["gilrs"]
gilrs = ["dep:gilrs"]

[dependencies]
glow = "0.14"
winit = "0.30"
glam = "0.29"
gilrs = { version = "0.11", optional = true }
