[package]
name = "renderer"
version = "0.1.0"
edition = "2024"

[dependencies]
glow = "0.14"
glutin = "0.32"
glutin-winit = "0.5"
winit = "0.30"
raw-window-handle = "0.6"
glam = "0.29"
image = "0.25"
